.option{
    border-bottom: 1px solid rgb(108 107 107);
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240 248 255 / 69%);
    padding: 0.2rem 0;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    transition: all 0.15s;
    border-radius: 0.1rem;
}

.option:hover{
    transform: scale(1.05);
    color: rgb(73 73 73);
    background-image: linear-gradient(rgb(23 170 228), rgb(10 238 241));
}

.list:last-child{
    border-bottom: none;
}

.list{
    position: absolute;
    top: var(--windowPosY);
    left: var(--windowPosX);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.2rem;
    background-color: rgb(22 22 22);
    width: 20rem;
    padding: 1rem;
    height: fit-content;
    z-index: 20;
    cursor: context-menu;
}