@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Playfair+Display:ital@1&family=DM+Serif+Display:ital@1&display=swap');

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 12, 18);
    width: 100svw;
    height: 100svh;
}

.gradientBox{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    clip-path: circle(50% at center);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    background-image: 
        conic-gradient(
            from 0deg,
            #ff0000,
            #ffff00,
            #00ff00,
            #00ffff,
            #0000ff,
            #ff00ff,
            #ff0000
        );
}

.gradientBox::before{
    cursor: auto;
    content: "";
    background-color: black;
    border-radius: 50%;
    position: absolute;
    inset: 15% 15%;
    width: 70%;
    aspect-ratio: 1/1;
}

.colorCode{
    cursor: auto;
    user-select: none;
    font-size: 2rem;
    z-index: 10;
    position: relative;
    font-style: italic;
    font-family: "DM Serif Display", sans-serif;
    letter-spacing: 1px;
}