:root{
    --bg-slide-list: #1a1a1a;
    --border-primary: #404040;
}

.previewArea {
    position: relative;
    padding: calc(5% + 1.2rem) 1% 1%;
    flex-grow: 2;
    min-width: 140px;
    flex-shrink: 0;
    height: 100%;
    background-color: var(--bg-slide-list);
    background-image: radial-gradient(circle at 1px 1px, #3d3d3d 1px, transparent 0);
    background-size: 20px 20px;
    border-right: 3px solid var(--border-primary);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.previewArea span {
    color: white;
}

.buttonWrapper{
    position: absolute;
    right: 2%;
    top: 9%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
}