.container {
  position: absolute;
  inset: 2%;
  width: 98%;
  padding: 0.5rem;
  height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.input{
  width: 100%;
  height: 7%;
  padding: 2%;
  font-size: 1.2rem;
  font-style: italic;
  color: white;
  background: transparent;
  border-radius: 0.1rem;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.input:focus {
  outline: 0.18rem solid #0078d4;
}
