.toolbar{
    padding: 1%;
    width: 100%;
    height: 100px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(138, 43, 226, 0.2);
    background: var(--accent-gradient);
}

.section{
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20%;
    padding: 0;
    width: fit-content;
}

.toolbar section.add-object{
    border-right: 2px solid wheat;
}

.toolbar section button{
    width: 40px;
    height: 40px;
    padding: 2px;
}
