:root{
    --accent-gradient: linear-gradient(135deg, #2a1a33 0%, #3a2a43 100%);
}

.toolbar{
    padding: 1%;
    width: 100%;
    height: 5rem;
    min-height: 70px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 2px 8px rgb(138 43 226 / 20%);
    background: var(--accent-gradient);
}

.section{
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20%;
    padding: 0;
    width: fit-content;
}

.toolbar section.add-object{
    border-right: 2px solid wheat;
}

.toolbar section button{
    width: 40px;
    height: 40px;
    padding: 2px;
}
