.form{
    width: 35rem;
    aspect-ratio: 9/4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 10px 10px rgb(193, 2, 126);
    padding: 1rem;
    margin: auto;
}

.form input{
    width: 80%;
    height: 2rem;
    font-size: 14px;
    border-radius: 0.5rem;
}

.form input:focus {
    outline: 3px solid blueviolet;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainer *{
    border-radius: 0.3rem;
    width: fit-content;
    font-size: 15px;
    aspect-ratio: 4/1;
}