.slideWrapper{
    flex: 1;
    gap: 0.5rem;
    padding: 0 10%;
    display: flex;
    flex-flow: column nowrap;
}

.slideWrapper::marker{
    display: none;
}

.slideHeader {
    text-align: center;
    font-size: 0.8rem;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.slideList{
    all: unset;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 3% 0 0;
    overflow-y: auto;
    gap: 0.7rem;
    position: relative;
}

.slideContainer{
    height: 22%;
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.catcher{
    width: 100%;
    height: 1.6rem;
    background-color: white;
}