.textWrapper,
.image {
   --DnDDragOffsetX: 0px;
   --DnDDragOffsetY: 0px;
   position: absolute;
   inset: var(--definedPosition);
   width: var(--definedWidth);
   height: var(--definedHeight);
   outline: 3px dashed green;
   border-radius: 0.35rem;
   border: none;
   user-select: none;
   transform: translate3d(calc(-50% + var(--DnDDragOffsetX)), calc(-50% + var(--DnDDragOffsetY)), 0);
}

.text {
   all: initial;
   overflow: hidden;
   color: var(--definedTextColor);
   font-family: var(--definedTextFontFamily);
   font-size: var(--definedTextFontSize);
   width: 100%;
   height: 100%;
   background-color: transparent;
   resize: none;
   border: none;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.textWrapper.dragging .text::selection{
   background-color: transparent;
}

.dragging{
   outline: 10px solid red !important;
   will-change: transform;
}

.focusable.selected {
   box-shadow: 0 0 4px 3px rgb(128, 0, 255);
   outline: none;
}

.image {
   background: var(--definedImageSource) center/cover no-repeat;
}

.image:not(.focusable) {
   width: calc(0.21 * var(--definedWidth));
   height: calc(0.21 * var(--definedHeight));
}