.controlPoint {
    width: 12px;
    height: 12px;
    background-color: rgb(3, 106, 180);
    position: absolute;
    border-radius: 20%;
}

.LU {
    left: 0;
    top: 0;
    cursor: nw-resize;
    transform: translate(-50%, -50%);
}

.LM {
    left: 0;
    top: 50%;
    cursor: w-resize;
    transform: translate(-50%, -50%);
}

.LL {
    left: 0;
    bottom: 0;
    cursor: ne-resize;
    transform: translate(-50%, 50%);
}

.RU {
    right: 0;
    top: 0;
    cursor: sw-resize;
    transform: translate(50%, -50%);
}

.RM {
    left: 100%;
    top: 50%;
    cursor: e-resize;
    transform: translate(-50%, -50%);
}

.RL {
    right: 0;
    bottom: 0;
    cursor: se-resize;
    transform: translate(50%, 50%);
}

.UM {
    left: 50%;
    top: 0%;
    cursor: n-resize;
    transform: translate(-50%, -50%);
}

.LowerM {
    left: 50%;
    top: 100%;
    cursor: s-resize;
    transform: translate(-50%, -50%);
}