.workspaceWrapper{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    outline: 2px solid wheat;
    gap: 5%;
    padding-right: 5%;
}

.workPlace{
    background-color: var(--bg-workplace);
    flex-grow: 2;
    aspect-ratio: 16/9;
    padding: calc((9/16) * 5rem) 5rem;
}

.toolbar2{
    width: 100%;
    height: 48px;
    outline: 1px solid black;
}

 .root {
     overflow: hidden;
     margin: 0;
     padding: 0.5rem;
     display: flex;
     flex-flow: column nowrap;
     width: 100svw;
     height: 100svh;
     gap: 1rem;
     position: relative;
 }