.dialog{
    height: 80%;
    position: absolute;
    border: none;
    border-radius: 0.8rem;
    background-color: #333333;
    aspect-ratio: 8/11;
}

.dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}